@media (max-width: 576px) {
	.center {
		padding-left: 16px;
		padding-right: 16px;
	}
	.top {
		min-height: 735px;
		background-image: url(../img/back-mobile.jpg);
		&__title {
			text-align: center;
			font-size: 32px;
			margin: 0;
		}
		&__container {
			padding-top: 238px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 32px;
		}
		&__text {
			margin: 0;
			text-align: center;
			font-size: 14px;
			line-height: 22px;
		}
		&__btn {
			padding: 12px 60px;
		}
	}
	.product {
		&__list {
			grid-template-columns: repeat(4, 1fr);
		}
		&__item {
			grid-column: 1 / -1;
			padding-left: 16px;
		}
	}
	.game {
		&__container {
			padding-top: 50px;
			padding-bottom: 85px;
			align-items: center;
		}
		&__content {
			align-items: center;
		}
		&__title {
			font-size: 32px;
		}
		&__text {
			text-align: center;
			font-size: 14px;
			line-height: 22px;
		}
	}
}
