@charset "UTF-8";
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* убираем браузерную обводку */
button:active,
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	min-width: 320px;
}

/* glob */

.center {
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

// top
.top {
	min-height: 1024px;
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&__container {
		padding-top: 217px;
	}
	&__title {
		max-width: 740px;
		margin: 0;
		margin-bottom: 32px;
		color: #fff;
		font-size: 64px;
		font-weight: 700;
	}
	&__text {
		max-width: 480px;
		margin: 0;
		margin-bottom: 44px;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
	}
	&__btn {
		padding: 13px 74px;
		color: #fff;
		font-size: 18px;
		border-radius: 30px;
		background: #9c0332;
		transition: background 0.3s ease-in-out;
		&:hover {
			background: #eb443f;
		}
	}
}

.word-link {
	font-weight: 700;
}

.product {
	background-color: #000915;
	&__list {
		padding-top: 128px;
		padding-bottom: 128px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 32px;
	}
	&__item {
		position: relative;
		min-height: 300px;
		grid-column: span 4;
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		border-radius: 16px;
		transition: outline 0.3s ease-in-out;
		&:hover {
			outline: 3px solid #44d2ff;
		}
	}
	&__item-1 {
		background-image: url(../img/product-1.png);
	}
	&__item-2 {
		background-image: url(../img/product-2.png);
	}
	&__item-3 {
		background-image: url(../img/product-3.jpg);
	}
	&__link {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: flex-end;
		padding-left: 32px;
		padding-bottom: 32px;
	}
}

.game {
	background-color: #000915;
	&__container {
		padding-top: 233px;
		padding-bottom: 233px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		max-width: 584px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
	&__title {
		font-weight: 700;
		font-size: 48px;
		color: #fff;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		color: #fff;
	}
	&__btn {
		padding: 13px 74px;
		color: #fff;
		font-size: 18px;
		border-radius: 30px;
		background: #9c0332;
		transition: background 0.3s ease-in-out;
		&:hover {
			background: #eb443f;
		}
	}
}

.words {
	background-color: #000915;
	&__container {
		padding-top: 233px;
		padding-bottom: 233px;
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
	}
	&__content {
		max-width: 584px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
	&__img {
		grid-column: span 6;
	}
	&__title {
		font-weight: 700;
		font-size: 48px;
		color: #fff;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		color: #fff;
	}
	&__btn {
		padding: 13px 74px;
		color: #fff;
		font-size: 18px;
		border-radius: 30px;
		background: #9c0332;
		transition: background 0.3s ease-in-out;
		&:hover {
			background: #eb443f;
		}
	}
}

.happy {
	cursor: url("../img/cursor.svg"), auto;
}

@import "mobile";
